/* LAYOUT */
.answer-form-wrapper {
  background-color: green;
  
}

.answer-form {
  display: flex;
  flex-direction: column;
}

.fieldset-answer {
  
}

.result {
  
}

.next-question {
  
}

.session-stats {
  
}


/* STYLES */
.answer-button {
  
}

input {
  border: none;
  background-color: none;
}