/* LAYOUT */
.answer-form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-form {
  display: flex;
  flex-direction: row;
}

.fieldset-answer {
  /* max-height: 3rem;
  max-width: 15rem; */
}

.result {
  position: relative;
  top: 3rem;
  margin-top: 1rem;
  width: 22rem;
  height: 4rem;
  max-height: 4rem;
  text-align: center;
}

.next-question {
  margin-top: 1rem;
}



.session-stats {
  position: relative;
  top: 6rem;
  text-align: center;
}


/* STYLES */
.answer-button {
  margin-left: 1rem;
  width: 4rem;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  color: black;
}

.fieldset-answer input {
  color: #000;
  border: none;
  background-color: transparent;
  width: 14rem;
  height: 2rem;
  font-size: 16px;
  border-bottom: 1px solid black;
}

.fieldset-answer input::placeholder {
  color: lightgray;
}

.fieldset-answer input:focus {
  outline: none;
}

.fieldset-answer label {
  display: none
}



/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  .session-stats {
    top: 3rem;
  }
}