/* LAYOUT */
.quiz-container {
  height: 95vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
}

.question {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;;
  align-items: center;
  background-color: #7D5BD6;
}

.question-text {
  color: #fdd835;
  font-size: 2rem;
  line-height: 1.4;
  width: 70%;
  max-height: 80%;
  text-align: center;
}

.answer-form-component {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;;
  align-items: center;
  -webkit-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 5git status00ms linear;
  /* background-color: #00acc1 */
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  .quiz-container {
    flex-direction: column;
  }

  .question-text {
    font-size: 1.4rem;
  }
}