/* LAYOUT */
.quiz-container {
  height: 95vh;
  /* width: 100vw; */
  display: flex;
  flex-direction: row;
}

.question {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;;
  align-items: center;
  background-color: #484D6D;
}

.question-text {
  color: #FFD166;
  font-size: 2rem;
  line-height: 1.4;
  width: 70%;
  max-height: 80%;
  text-align: center;
}

.answer-form-component {
  flex: 0 0 50%;
  display: flex;
  justify-content: center;;
  align-items: center;
  background-color: #57A773
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  .quiz-container {
    flex-direction: column;
  }

  .question-text {
    font-size: 1.4rem;
  }
}