.login-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form-container h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.login-form-container input {
  margin-top: .4rem;
}

.login-form-container .fieldset-login {
  margin-bottom: .7rem;
}

.login-form-container button {
  margin-top: .2rem;
}

.login-form-container p {
  margin-top: 1rem;
}

.login-form-container a {
  color: #000;
}