.signup-form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.signup-form-wrapper h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.signup-form-wrapper input {
  margin-top: .4rem;
}

.signup-form-wrapper .fieldset-sign {
  margin-bottom: .7rem;
}

.signup-form-wrapper button {
  margin-top: .2rem;
}

.signup-form-wrapper p {
  padding-top: 1rem;
  text-align: center;
  margin: auto;
}

.signup-form-wrapper a {
  color: #000;
}