/* Logout modal CSS */

.logout-modal-container {
  background-color:#EEEEEE;
  width:40vw;
  z-index: 2;
  position:absolute;
  top:3.5rem;
  right:10px;
  padding:1.5rem;
  border-radius:10px;
  text-align:center;
  box-shadow: 4px 4px gray;
}

.logout-modal-header {
  font-size:1.5em;
  margin-bottom:10px;
}

.logout-modal-prompt {
  font-size:1.2em;
  margin-bottom:10px;
}

.logout-modal-buttons button {
  padding:10px;
  border:none;
  margin:2px;
  margin-right:1em;
  margin-left:1em;
}

@media screen and (max-width: 700px) {
  .logout-modal-container {
    width:70vw;
    padding:1rem;
  }
}