/* LEADERBOARD */

.leaderboard-list-container {
  background-color:#EEEEEE;
  border-radius:10px;
  width:90%;
  margin:1em auto;
  overflow-y:scroll;
  display:flex;
  flex-direction:column;
  height:15em;
  padding-top:1em;
}

.leaderboard-header {
  text-align:center;
  font-size:1.5em;
  font-family:bold;
  padding:1em;
  padding-bottom:.5em;
  margin-top:1em;
}

.leaderboard-subheader {
  text-align:center;
  font-weight:bold;
}

.leaderboard-unit {
  display:flex;
  flex-direction:row;
  background-color:white;
  width:95%;
  margin: 2px auto;
  padding:4px;
  border-radius:4px;
  text-align:center;
}

.user-stats-greeting {
  text-align:center;
}


.leaderboard-entry {
  margin-left:1em;
  margin-right:1em;
}