.question-score-container {
  margin: 2rem;
}

.questions-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:99vw;
  height:auto;
}

.session-info-stats-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.stats-page h1 {
  margin-top: 3rem;
  font-size: 2rem;
  text-align: center
}

.session-info-stats-page p {
  margin-top: 2rem;
  font-size: 1.2rem;
}

.question-score-header {
  text-align:center;
  font-size: 2rem;
  margin-top: 5rem;
}

.question-stats-box {
  display:flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  align-items: center;

  width:420px;
  height:250px;
  margin: 1rem;

  border-radius: 15px;
  overflow: hidden;
  border: 3px solid black;

  -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.19);
  -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.19);
  box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.19);



}

/* INDIVIDUAL CARDS */

.question-box-question {
  text-align: left;
  margin: 0 10px;
  font-size: 1.2rem;
  line-height: 1.2;
}

.question-box-score {
  vertical-align: middle;
  order: -1;
  font-size: 1.5rem;
  height: 100%;
  align-self: center;
  /* margin: 0 1.5rem; */
  padding: 0 2rem;
  text-align: center;
  /* background-color: #fff; */
  line-height: 250px;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

/* MEDIA QUERIES */
@media screen and (max-width: 700px) {
  .question-stats-box {
    /* width:420px; */
    height:auto;
  }

  .question-score-container {
    margin: 0;
  }
}


/* LEADERBOARD */

.leaderboard-list-container {
  background-color:#EEEEEE;
  border-radius:10px;
  width:90%;
  margin:1em auto;
  overflow-y:scroll;
  display:flex;
  flex-direction:column;
  height:15em;
  padding-top:1em;
}

.leaderboard-header {
  text-align:center;
  font-size:1.5em;
  font-family:bold;
  padding:1em;
  padding-bottom:.5em;
  margin-top:1em;
}

.leaderboard-subheader {
  text-align:center;
  font-weight:bold;
}

.leaderboard-unit {
  display:flex;
  flex-direction:row;
  background-color:white;
  width:95%;
  margin: 2px auto;
  padding:4px;
  border-radius:4px;
  text-align:center;
}

.user-stats-greeting {
  text-align:center;
}


.leaderboard-entry {
  margin-left:1em;
  margin-right:1em;
}
